[package]
name = "udp-example"
version = "0.1.0"
edition = "2021"

[dependencies]

[[bin]]
name = "server"
path = "src/server.rs"

[[bin]]
name = "client"
path = "src/client.rs"

[[bin]]
name = "broadcast"
path = "src/broadcast.rs"
