[package]
name = "custom_allocator"
version = "0.1.0"
edition = "2021"

[dependencies]
linked_list_allocator = "0.10"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
opt-level = "z"
