[package]
name = "tcp-example"
version = "0.1.0"
edition = "2021"

[dependencies]

[[bin]]
name = "server"
path = "src/server.rs"

[[bin]]
name = "client"
path = "src/client.rs"

[[bin]]
name = "chat_server"
path = "src/chat_server.rs"
